form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-width: 300px;
   width: 40vw;
   max-width: 450px;
   min-height: max-content;
   height: 900px;
   max-height: 60vh;
   color:black;
   padding-top: 20px;
  /* background: linear-gradient(to right, #4cee01,#01daee, #00ffaa);*/
   background-color: rgb(5, 61, 107);
   border-radius: 20px;
   transition: ease-in .3s;
  font-size: 12pt;
}
  

label{
    font-size: 17px;
}
form div{
    display: flex;
    
    align-items: left;
}
form p{
    margin: 10px;
    padding-right: 20px;
}
form p input{
    display: grid;
    place-items: center;
    font-size: 14px;
}
form input[type="button"]{
    width: 100px;
    height: 30px;
    border: none;
    text-align: center;
    color:rgb(5, 61, 107);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.tip h5{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      text-align: center;
      margin: 10px;
      height: 50px;
  }
  .content > .tip{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }